# Supervised Learning

## **League of Legends Game Prediction**

![alt text](images/league_of_legends.jpeg)

### **Introduction**

The League of Legends Game Prediction is a project developed using different Supervised Learning algorithms with the intention to predict the outcome of a League of Legends match based on the first 15 minutes of a game, given by the dataset: *League of Legends SoloQ matches at 15 minutes 2024*.

#### **About Dataset**

This dataset contains data about the first 15 minutes of gameplay for over 24 thousand solo queue matches taken from european servers (EUNE and EUW).

Average ELO of the matches is between mid emerald to high diamond.

The main purpose of the dataset is to help train models for predicting the winner based on how the first 15 minutes of the match played out.

There are 14 features for red, and 14 features for the blue team (feature blueTeamFirstBlood counts for both teams since it tells us which team got the first kill), with the target feature being blueWin. blueWin == 1 indicates a victory of the blue team, and blueWin == 0 means that the red team won.

A notebook detailing the process of collecting the data is available in the code tab. We hope it helps someone improve the collection method, or reuse the code for another project.

There should be no missing values.

#### **Features**

- **matchId** - ID of the League match
- **blueTeamControlWardsPlaced/redTeamControlWardsPlaced** - control/pink wards placed by the blue/red team (can have outliers based on the possibility of the team giving up and buying a lot of wards at the end and placing them)
- **blueTeamWardsPlaced/redTeamWardsPlaced** - all types of wards (control wards, yellow trinkets, ghost poro trinkets etc..) placed by the blue/red team
- **blueTeamTotalKills/redTeamTotalKills** - total kills by the blue/red team, killing an enemy champion generates gold and experience
- **blueTeamDragonKills/redTeamDragonKills** - total dragon kills by the blue/red team, dragons are elite monsters that give specific permanent buffs when killed and killing the 4th dragon gives the team dragon's soul
- **blueTeamHeraldKills/redTeamHeraldKills** - total herald kills by the blue/red team, herald is a elite monster that helps in destroying the enemies buildings (turrets, inhibitors and the nexus) and pushing the lane
- **blueTeamTowersDestroyed/redTeamTowersDestroyed** - total towers destroyed by the blue/red team, towers are defensive structures in a lane that target minions and champions
- **blueTeamInhibitorsDestroyed/redTeamInhibitors** - total inhibitors destroyed by the blue/red team, inhibitor is a building protected by towers and when they are destroyed, they allow super minions to spawn on the side of the team that destroyed it
- **blueTeamTurretPlatesDestroyed/redTeamTurretPlatesDestroyed** - total turret/tower plates destroyed by the blue/red team, turret plates are protective shields on towers that generate gold when they are destroyed and the completely fall off at the 14 minutes
- **blueTeamFirstBlood/redTeamFirstBlood** - 1 blue team first blood, 0 red team first blood; first blood generates extra gold for the kill
- **blueTeamMinionsKilled/redTeamMinionsKilled** - total minions killed by the blue/red team, minions generate gold and experience and are of the main sources of income in the game
- **blueTeamJungleMinions/redTeamJungleMinions** - total jungle minions killed by the blue/red team, also generate gold, but the experience is gained only by the jungler
- **blueTeamTotalGold/redTeamTotalGold** - total gold earned by the blue/red team from various sources (buildings, kills, assists, minons,..)
- **blueTeamXp/redTeamXp** - total blue/red team experience, corelates to the total amount spent in lanes (a minion doesn't have to be killed by a champion to gain experience) and total amount of champions killed
- **blueTeamTotalDamageToChamps/redTeamTotalDamageToChamps** - total damage done by the blue/red team to enemy champions
- **blueWin** - 1 blue team win, 0 red team win

## Made By:

| Name | Email |
|-|-|
| João Guedes | up202108711@up.pt |
| João Sousa | up202106996@up.pt |
| Armando Martins | up201603566@up.pt |
|---|---|
| Group | T06 - G01 |

## **Algorithms**

The libraries used in this project are provided by Anaconda: Python, Anaconda, Jupyter Labs, NumPy, SciPy, Pandas, Scikit-Learn, MatPlotLib
and Seaborn.

In [4]:
import pandas as pd

df = pd.read_csv('data/match_data_v5.csv')
df.drop(df.columns[-1], axis=1, inplace=True)

df.head()

,matchId,blueTeamControlWardsPlaced,blueTeamWardsPlaced,blueTeamTotalKills,blueTeamDragonKills,blueTeamHeraldKills,blueTeamTowersDestroyed,blueTeamInhibitorsDestroyed,blueTeamTurretPlatesDestroyed,blueTeamFirstBlood,...,redTeamHeraldKills,redTeamTowersDestroyed,redTeamInhibitorsDestroyed,redTeamTurretPlatesDestroyed,redTeamMinionsKilled,redTeamJungleMinions,redTeamTotalGold,redTeamXp,redTeamTotalDamageToChamps,blueWin
0,EUW1_6882489515',2,23,4,2,0,0,0,7,0,...,0,2,0,1,400,94,29637,32613,27239,1
1,EUW1_6882416210',2,46,12,1,0,1,0,10,0,...,0,1,0,4,373,76,28970,30320,36585,0
2,EUW1_6881092720',2,19,13,0,0,0,0,11,0,...,0,2,0,3,340,84,30510,29464,42984,0
3,EUW1_6879405717',3,28,8,0,1,1,0,9,1,...,0,0,0,5,378,87,25157,31069,28229,0
4,EUW1_6879389461',3,30,11,1,1,1,0,7,0,...,0,1,0,5,382,96,26052,29475,19245,1

In [5]:
df.describe()

,blueTeamControlWardsPlaced,blueTeamWardsPlaced,blueTeamTotalKills,blueTeamDragonKills,blueTeamHeraldKills,blueTeamTowersDestroyed,blueTeamInhibitorsDestroyed,blueTeamTurretPlatesDestroyed,blueTeamFirstBlood,blueTeamMinionsKilled,...,redTeamHeraldKills,redTeamTowersDestroyed,redTeamInhibitorsDestroyed,redTeamTurretPlatesDestroyed,redTeamMinionsKilled,redTeamJungleMinions,redTeamTotalGold,redTeamXp,redTeamTotalDamageToChamps,blueWin
count,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,...,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.000000,24225.00000
mean,3.610815,41.362023,12.792487,0.737833,0.123591,0.654902,0.002023,8.915789,0.503860,349.240578,...,0.103117,0.955088,0.001527,3.884045,350.287554,88.547368,27788.709391,29619.035789,32156.531682,0.49453
std,2.018622,43.471913,4.910510,0.722126,0.329247,0.885749,0.054101,3.083976,0.499995,31.339593,...,0.304117,0.981776,0.044021,2.591134,31.593160,14.120346,2694.330794,1896.275564,6041.175604,0.49998
min,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,194.000000,...,0.000000,0.000000,0.000000,0.000000,188.000000,0.000000,18247.000000,17602.000000,10383.000000,0.00000
25%,2.000000,25.000000,9.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,329.000000,...,0.000000,0.000000,0.000000,2.000000,330.000000,79.000000,25910.000000,28387.000000,28024.000000,0.00000
50%,3.000000,29.000000,12.000000,1.000000,0.000000,0.000000,0.000000,9.000000,1.000000,350.000000,...,0.000000,1.000000,0.000000,4.000000,351.000000,88.000000,27629.000000,29632.000000,31938.000000,0.00000
75%,5.000000,35.000000,16.000000,1.000000,0.000000,1.000000,0.000000,11.000000,1.000000,371.000000,...,0.000000,1.000000,0.000000,5.000000,372.000000,98.000000,29514.000000,30866.000000,36029.000000,1.00000
max,37.000000,603.000000,38.000000,2.000000,2.000000,10.000000,2.000000,22.000000,1.000000,465.000000,...,1.000000,10.000000,2.000000,15.000000,464.000000,156.000000,41227.000000,36797.000000,62452.000000,1.00000

In [6]:
df.isna().any()

matchId                          False
blueTeamControlWardsPlaced       False
blueTeamWardsPlaced              False
blueTeamTotalKills               False
blueTeamDragonKills              False
blueTeamHeraldKills              False
blueTeamTowersDestroyed          False
blueTeamInhibitorsDestroyed      False
blueTeamTurretPlatesDestroyed    False
blueTeamFirstBlood               False
blueTeamMinionsKilled            False
blueTeamJungleMinions            False
blueTeamTotalGold                False
blueTeamXp                       False
blueTeamTotalDamageToChamps      False
redTeamControlWardsPlaced        False
redTeamWardsPlaced               False
redTeamTotalKills                False
redTeamDragonKills               False
redTeamHeraldKills               False
redTeamTowersDestroyed           False
redTeamInhibitorsDestroyed       False
redTeamTurretPlatesDestroyed     False
redTeamMinionsKilled             False
redTeamJungleMinions             False
redTeamTotalGold                 False
redTeamXp                        False
redTeamTotalDamageToChamps       False
blueWin                          False
dtype: bool